/*Media Queries*/

/*1. Breakpoint f. extra große Bildschirme wie Desktops & große Montitore*/
@media (max-width: 1920px) {
    .button {
        font-size: clamp(24px, 2.5vw, 45px);
    }
}

/*2. Breakpoint f. mittelgroße Bildschirme wie Tablets quer & kleine Laptops*/
@media (max-width: 1024px) {
header + main + footer {
    min-width: 90%;
    max-width: 100vw; 
    margin: 0 auto; /* Zentriert den Inhalt */
    padding: 0 20px; /* Links/Rechts etwas Abstand */
}

    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 17px;
    }
    footer p {
        font-size: 13px;
    }
    .email-button {
        font-size: 13px;
    }
    .footer-links {
        font-size: 13px;
    }

    /* Header: Navigation/Menü */
    .logo {
        width: 150px;
    }

    /* Startseite: */
    .button-container {
    /* große, runde Buttons*/
        margin-top: 0;
    }
    .button {
        font-size: clamp(20px, 2.5vw, 35px);
    }
    .about-me-box {
        top: 70px; /* Verschiebt die Box nach unten */
        right: 20%; 
        left: 30%; 
    }
    .about-me-box p {
        font-size: clamp(14px, 2vw, 18px);
    }

    /* Lebenslauf: */
    .Über-mich p {
        font-size: 24px;
    }
    .text-small {
        width: 400px;
    }
    .CV {
        margin-right: 60px;
        margin-left: 60px;
        padding: 40px
    }
    table {
        width: 90%;
        margin-left: 0;
    }
    th {
        width: 20%;
    }
    td {
        width: 80%;
    }
    .skill-name {
        width: 310px;
    }

    /* Projekte: */
    .project {
        width: 20vw;
        height: 20vw;
    }

    /* Kontakt: */
    .linkedin-button i {
        font-size: 18px;
    }
    .contact-form-container {
        width: 70%;
    }
}

/*3. Breakpoint f. kleine Bildschirme wie Tablets hochkant & größere Handys*/
@media (max-width: 768px) {
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 22px;
    }
    p {
        font-size: 16px;
    }

    /* Header: Navigation/Menü */
    .logo {
        width: 120px;
    }
    .nav {
        line-height: 20px;
        font-size: 16px;
    }
    .language-switch {
        top: 0;
        right: 0;
        padding: 0px 10px;
    }
    .language-switch label {
        font-size: 12px;
    }
    .language-switch select {
        font-size: 12px;
        padding: 2px 5px;
    }

    /* Startseite: */
    .big {
        max-width: 35vw;
    }
    .text-big {
        max-width: 50vw;
    }
    .button-container {
        /* große, runde Buttons*/
            margin-top: -150px;
        }
    .button {
        font-size: clamp(19px, 4vw, 28px);
        width: 25vw;
        height: 25vw;
    }
    .about-me-box {
        top: 450px; /* Verschiebt die Box nach unten */
        right: 40%; 
        left: 5%; 
    }
    .about-me-box p {
        font-size: clamp(12px, 2vw, 17px);
    }

    /* Lebenslauf: */
    .introduction {
        top: 150px;
    }
    .CV {
        margin-top: 400px;
        margin-right: 20px;
        margin-left: 20px;
        padding: 20px
    }
    .skill-name {
        width: 220px;
    }
    .skill-bar {
        max-width: 250px;
        min-width: 150px;
    }
    ul {
        margin-left: 10%;
        width: 80%;
    }
    th:focus-within, td:focus-within {
        transform: scale(1.05);
    }

    /* Projekte: */
    .card {
        width: 430px;
        height: 430px;
    }
    figure {
        margin: 65px 0 0 65px;
    }
    .card img {
        width: 150px;
        height: 280px;
    }
    figcaption {
        font-size: 12px;
    }
    .project {
        width: 25vw;
        height: 25vw;
    }

     /* Kontakt: */
     .introduction {
        left: 0;
        gap: 0;
     }
     .contact-form-container {
        width: 80%;
    }
  
}

/*4. Breakpoint f. kleinste Bildschirme wie Smartphones hochkant*/
@media (max-width: 480px) {
    body {
        font-size: 15px;
    }
    h1 {
        font-size: 32px;
        margin: 15px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    footer p {
        font-size: 11px;
    }
    .email-button {
        font-size: 11px;
    }
    .footer-links {
        font-size: 11px;
    }
    .footer-link {
        font-size: 11px;
    }

    /* Header: Navigation/Menü */
    .logo {
        width: 100px;
    }
    .nav {
        line-height: 10px;
        font-size: 14px;
    }
    .navigation {
        flex-direction: column;
        align-items: flex-start; /* Links ausrichten */
        justify-content: flex-start; 
    }
    .language-switch {
        top: 10px;
        right: 5px;
        padding: 10px 10px;
    }

    /* Startseite: */
    .text-big {
        max-width: 54vw;
    }
    .button-container {
    /* große, runde Buttons*/
        margin-top: -150px;
    }
    .button {
        font-size: clamp(19px, 5vw, 26px);
        width: 30vw;
        height: 30vw;
    }
    .about-me-box {
        top: 190px; /* Verschiebt die Box nach unten */
        right: 0; 
        left: 0; 
    }
    .about-me-box p {
        font-size: clamp(10px, 2vw, 15px);
    }

    /* Lebenslauf: */
    .introduction {
        top: 130px;
        gap: 0;
    }
    .Über-mich p {
        font-size: 18px;
    }
    .CV {
        margin-top: 350px;
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px
    }
    .skill {
        align-items:last baseline;
    }
    .skill-name {
        width: 150px;
    }
    .skill-bar {
        max-width: 200px;
        min-width: 100px;
    }

    /* Projekte: */
    .Projekte {
        margin-top: 220px;
    }
    .projects {
        padding: 0;
    }
    .card {
        width: 320px;
        height: 320px;
    }
    figure {
        margin: 55px 0 0 45px;
    }
    .card img {
        width: 100px;
        height: 200px;
    }
    figcaption {
        font-size: 10px;
        max-width: 100px;
    }
    article p {
        font-size: 12px;
    }
    .project {
        width: 25vw;
        height: 25vw;
    }
     /* Kontakt: */
     .introduction {
        max-width: 310px;
        left: 20%;
     }
     .Kontakt {
        margin-top: 350px; /* Abstand zum Header*/
    }
    .contact-form-container {
        width: 85%;
    }
}