@import url("layout.css");
@import url("components.css");

/* Container alle Inhalte */
header + main + footer {
  width: calc(100% - 40px); /* Zieht das Padding ab */
  max-width: 100vw;
  margin: 0 auto; /* Zentriert den Inhalt */
  padding: 0 20px; /* Links/Rechts etwas Abstand */
}

body {
  /*overflow-x: hidden;  Verhindert horizontales Scrollen */
  width: calc(100% - 16px); 
  max-width: 100%;
}

body {
  /* Hintergrundbild */
  background-image: url("../files/background.jpg");
  background-color: #030303;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;

  /* Schrift */
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
}

/*Startseite: h1: Hallo, mein Name ist*/
.mein-Name {
  text-align: right;
}

/*Lebenslauf: h1*/
.Lebenslauf {
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

/*Lebenslauf: <p>-Inhalte rechte Spalte*/
td p {
  margin: 4px 0;
}

/* Typografie */
h1 {
  text-align: center;
  font-family: Garamond, "Times New Roman", serif;
  font-size: 48px
}

h2 {
  text-align: left;
  font-family: Garamond, "Times New Roman", serif;
  font-size: 36px;
}

h3 {
  font-family: Garamond, "Times New Roman", serif;
  font-size: 28px;
  text-align: left;
  color: white;
}

/*Projekte: Bildunterschriften*/
figcaption {
  font-size: 14px;
  text-align: center;
}