<p>© 2025 Denise Chen</p>
<a href="mailto:chendenise1996@yahoo.de" class="email-button">send e-mail</a>
<p>You are welcome to visit me at
    <a href="https://www.linkedin.com/in/denise-chen-39a5a71a1/" class="footer-link" target="_blank"
        aria-label="My LinkedIn-profile">
        LinkedIn
    </a>!
</p>
<nav aria-label="legal Links">
    <ul class="footer-links">
        <li><a href="#">legal notice</a></li>
        <li><a href="#">pricacy policy</a></li>
        <li><a href="#">cookies</a></li>
    </ul>
</nav>