<p>© 2025 Denise Chen</p>
<a href="mailto:chendenise1996@yahoo.de" class="email-button">E-mail senden</a>
<p>Besuchen Sie mich gern auf
    <a href="https://www.linkedin.com/in/denise-chen-39a5a71a1/" class="footer-link" target="_blank"
        aria-label="Mein LinkedIn-Profil">
        LinkedIn
    </a>!
</p>
<nav aria-label="Rechtliche Links">
    <ul class="footer-links">
        <li><a href="#">Impressum</a></li>
        <li><a href="#">Datenschutz</a></li>
        <li><a href="#">Cookies</a></li>
    </ul>
</nav>