<nav aria-label="Hauptnavigation">
    <ul class="navigation">
        <li class="nav-logo">
            <a href="index.html" aria-label="Gehe zur Startseite">
                <img class="logo" src="files/Logo.svg" alt="">
                <span class="sr-only">Gehe zur Startseite</span>
            </a>
        </li>
        <li class="nav"><a href="cv.html">Lebenslauf</a></li>
        <li class="nav"><a href="projects.html">Projekte</a></li>
        <li class="nav"><a href="contact.html">Kontakt</a></li>
    </ul>
</nav>
<!-- Sprachumschalter -->
<div class="language-switch">
    <label for="language-select" id="language-label">Sprache wählen:</label>
    <select id="language-select" aria-labelledby="language-label">
        <option value="de">Deutsch</option>
        <option value="en">Englisch</option>
    </select>
</div>