<nav aria-label="Hauptnavigation">
    <ul class="navigation">
        <li class="nav-logo">
            <a href="index-en.html" aria-label="Go to homepage">
                <img class="logo" src="files/Logo.svg" alt="">
                <span class="sr-only">Go to homepage</span>
            </a>
        </li>
        <li class="nav"><a href="cv-en.html">resume</a></li>
        <li class="nav"><a href="projects-en.html">projects</a></li>
        <li class="nav"><a href="contact-en.html">contact</a></li>
    </ul>
</nav>
<!-- Sprachumschalter -->
<div class="language-switch">
    <a href="index.html">🇩🇪 German</a>
</div>